body {
  background: #EEF0F2; /*"cultured"*/
  margin: 1rem;
  padding: 1rem;
  max-width: 600px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 4px solid #F18F01; /*carrot orange*/
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: black;
}

a:visited {
	color: #094D92; /*Yale blue*/
}


input {
	display: block;
}

img {
	max-width: 400px;
}

button {
	background-color: #F9E900; /*middle-yellow*/
	border: none;
	color: black;
	text-align: center;
	padding: 15px 25px;
	display: inline-block;
	font-size: 14px;
}

